$dark: #161616;
$blue: #2684ff;

@font-face {
  font-family: 'Outfit';
  src: url(/fonts/Outfit-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url(/fonts/Outfit-SemiBold.ttf);
  font-weight: 600;
}

@mixin link($color) {
  padding: .8em;
  border-radius: .5rem;
  color: $color;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: rgba($color, .1);
  }
}

@mixin code($color) {
  padding: .2em .3em;
  border-radius: .5rem;
  color: $color;
  background-color: rgba($color, .1);
}

@mixin button($color) {
  padding: 1em 2em;
  border-radius: .5rem;
  background-color: $color;
  color: white;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: lighten($blue, 5);
  }
}

body {
  font-family: 'Outfit';
  color: $dark;
}

header {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

    span {
      color: $blue;
    }
  }

  p {
    margin-top: 1rem;
    max-width: 24rem;
    text-align: center;
  }

  .wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    a {
      @include link($blue);
    }
  }

  button {
    margin-top: .5rem;
    @include link($dark);
  }
}

main {
  section {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
      font-weight: 600;
      text-align: center;
    }

    .button {
      @include button($blue);
    }

    .link {
      margin: auto;
      @include link($blue);
    }
  }
}

.cpopup {
  .cross {
    margin-bottom: 1rem;
  }
  
  .link {
    @include code($dark);
  }
}

.custom-popup {
  padding: 3rem;
  background-color: aqua;
  border: 1px solid brown;
  transform: scale(0);
  transition: .3s ease-out;

  &.open {
    transform: none;
  }
}

.custom-background-popup {
  transition: 1s ease-in-out;

  &.active {
    background-color: rgba(coral, .5);
  }
}