.cpopup {
  z-index: 999;
  position: absolute;
  opacity: 0;
  pointer-events: none;

  &.fixed {
    position: fixed;
  }

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  &.default {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #cacaca;
    box-shadow: 0 1rem 2rem rgba(black, .05);
    transform: scale(.8) translateY(-1rem);
    transition: transform .1s ease-in, opacity .1s ease-in;

    &.open {
      transform: none;
      transition: transform .3s cubic-bezier(0, .5, .5, 1.5), opacity .3s cubic-bezier(0, .5, .5, 1.5);
    }
  }
}

.cpopup-arrow {  
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: inherit;
  border: inherit;
  box-sizing: content-box;
  border-bottom: none;
  border-left: none;

  &.top {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  &.right {
    transform: translate(50%, -50%) rotate(-135deg);
  }

  &.bottom {
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  &.left {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.cpopup-backdrop {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &.open {
    pointer-events: all;
  }

  &.default {
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &.open {
      opacity: 1;
    }
  }
}
